.container{
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
}
.container button img{
    width: 60px;
}
button:hover{
    cursor: pointer;
}
.basket{
    border: 2px solid gray;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}