.card{
    border: 2px solid black;
    min-width: 300px;
    max-width: 300px;
    max-height: 500px;
    min-height: 400px;
    border-radius: 20px;
    overflow: hidden;
}
.card .card-info{
    padding: 0 0.5rem;
}
.card img{
    max-height: 300px;
    width: 100%;
}
.container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;

}